{% extends "hotelSystem/layout.html" %} {% load static %} {% block title %}
Change Password {% endblock %} {% block additional-static %}
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>
<link
  href="{% static 'hotelSystem/css/change_password.css' %}"
  rel="stylesheet"
/>
{% endblock %} {% block body %}
<h1>Change Password</h1>
<br />
<div class="form-structor">
  <div class="signup">
    <form action="{% url 'change_password' %}" method="post">
      {% csrf_token %}
      <div class="error">{{form.non_field_errors}}</div>
      {% if messages %} {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %} {% endif %} {% for field in form %}
      <div class="field">
        {{field.label_tag}} {{ field }} {% if field.errors %}
        <div class="error">{{ field.errors }}</div>
        {% endif %}
      </div>
      {% endfor %}

      <input class="changebtn" type="submit" value="Change Password" />
    </form>
  </div>
</div>

{% endblock %}
