{% extends "hotelSystem/layout.html" %} 
{% load static %}
{% block title %} 
{{ title }} 
{% endblock %} 

{% block additional-static %}
  <script src="{% static 'hotelSystem/js/modalRedirect.js' %}"></script>
  <script src="{% static 'hotelSystem/js/commaNumbers.js' %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link href="{% static 'hotelSystem/css/table.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
  <h1>{{title}}</h1>
  <br>

  <div class="modal-container" id="modal-opened">
    <form class="modal" action="{% url 'checkout'%}" method="post">
      {% csrf_token %} 
      <div class="modal__details">
        <h1 class="modal__title">Confirm Check-out</h1>
      </div>
      <p class="modal__text">
        Are you sure you want to check out this guest?
      </p>
      <input type="hidden" class="modalhidden" name="checkin_id" value="">
      <input class="modal_btn" type="submit" value="Confirm &rarr;">
      <a href="#modal-closed" class="link-2"></a>
    </form>
  </div>


  <div class="reserveTable">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Check-In</div>
        <div class="col col-2">Reservation</div>
        <div class="col col-3">Rooms</div>
        <div class="col col-4">Paid Amount</div>
        <div class="col col-5">Check-In Date Time</div>
        <div class="col col-6">Check Out?</div>
      </li>
      {% for c in checkIns %}
          <li class="table-row">
              <a class="col col-1" data-label="Check-In" href="{% url 'checkin_view' c.id %}">
                {{c}}
              </a>
              <a class="col col-2" data-label="Reservation" href="{% url 'reservations_view' c.reservation.reservation_id %}">
                {{c.reservation}}
              </a>
              <div class="col col-3" data-label="Rooms">
                  {% for room in c.rooms.all %}
                      <span class="comma">Room no. {{room.room_no}}</span>   
                  {% endfor %}
              </div>
              <div class="col col-4 money" data-label="Paid Amount">
                {{c.initial_amount}}
              </div>
              <div class="col col-5" data-label="Check-In Date Time">{{c.check_in_date_time}}</div>
              {% if c in checkIncheckout %}
                  {% for checkout in checkouts %}
                      {% if c.id == checkout.check_in.id %}
                          <a class="col col-6 checkInBtn" id="" data-label="Checkout?" href="{% url 'checkout_view' checkout.id %}">
                              <span >
                                Details
                              </span>
                          </a>
                      {% endif %}
                  {% endfor %}
              {% else %}
                  <a class="col col-6 checkInBtn" id="modal-closed" data-id="{{c.id}}" data-path="checkout" data-label="Check Out?" href="#modal-opened">
                      <span>
                          Checkout
                      </span> 
                  </a>
              {% endif %} 
          </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}