
<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load pwa %}
    {% load custom_tags %}
    <head>
    {% progressive_web_app_meta %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO -->
    <meta name="description" content="CPIC Hotel is the official hotel management system for the Christian Polytechnic Institute of Catanduanes.">
    <meta name="keywords" content="virac, CPIC, Christian Polytechnic Institute of Catanduanes, CPICHotel, hotel">
    <meta name="author" content="Arnel Jan Sarmiento">
    
    <meta property="og:title" content="CPIC Hotel">
    <meta property="og:description" content="CPIC Hotel is the official hotel management system for the Christian Polytechnic Institute of Catanduanes.">
    <meta property="og:type" content="website">

    <meta name="google-site-verification" content="uGL2QJWFkQOuE4tTphFQK3T22IAkXbDjTzULH6TzbVQ" />
    <meta name="msvalidate.01" content="2751098384C18FDBDC12FB95F05B7DAF" />

    <script type="text/javascript" src="{% static 'hotelSystem/js/script.js' %}"></script>
    
    <title>{% block title %}{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap" rel="stylesheet">

    <style>
        :root {
            --myDark: #212121;
            --light: #fdfdfd;
            --lightgrey:#ececec;
            --thirdcolor:#0A66C2;
            --font-header:'Poppins';
            --font-text: 'Lato';
            --dotcolor:50, 49, 51;
            --dot: radial-gradient(rgb(var(--dotcolor)) 67%, rgba(var(--dotcolor), 0) 68%);
          }
    </style>
    {% block additional-static %}
    {% endblock %}

    {% block media-files %}
    {% endblock %}
     
    <link href="{% static 'hotelSystem/css/styles.css' %}" rel="stylesheet">
     
    <link rel="icon" href="{% static 'hotelSystem/img/CPIC.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <script type="text/javascript" src="{% static 'hotelSystem/js/spinner.js' %}"></script>
</head>

<body>
    <div class="page">
        <header tabindex="1">
            <h2>
                CPIC Hotel
            </h2>
            {% if request.user.is_authenticated %}  
                <a class="profile" href="{% url 'profile' %}""> 
                    {% if request.user.get_sex_display == 'Male'%}
                        <img src="https://avatars.dicebear.com/api/micah/{{request.user.first_name}}{{request.user.last_name}}.svg?hair[]=fonze&facialHairProbability=0&earringsProbability=0&baseColor[]=apricot" alt="Not Found" onerror=this.src="{% static 'hotelSystem/img/staff.png' %}">
                    {% else %}
                        <img src="https://avatars.dicebear.com/api/micah/{{request.user.first_name}}{{request.user.last_name}}.svg?hair[]=full,pixie&facialHairProbability=0&baseColor[]=apricot" alt="Not Found" onerror=this.src="{% static 'hotelSystem/img/staff.png' %}">
                    {% endif %}
                </a>
            {% endif %}
        </header>

        {% if user.is_authenticated %}
        <div id="nav-container">
            <div class="bg"></div>
            <div class="button" tabindex="0">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
            <div id="nav-content" tabindex="0">
                <ul>
                    <li><a href="{% url 'index' %}">Dashboard</a></li>
                    {% if request.user|has_group:"Staff" %} 
                    <li><a href="{% url 'customers' %}">Guests</a></li>
                    {% endif %}
                    <li><a href="{% url 'rooms' %}">Rooms</a></li>
                    {% if request.user|has_group:"Staff" %} 
                    <li><a href="{% url 'payments' %}">Payments</a></li>
                    <br>
                    <li><a href="{% url 'reserve' %}">Reserve</a></li>
                    {% endif %}
                    {% if request.user|has_group:"Admin" %} 
                    <li><a href="{% url 'staff' %}">Staff</a></li>
                    {% endif %}
                    <br>
                    <li><a href="{% url 'reservations' %}">Reservations</a></li>
                    <li><a href="{% url 'checkins' %}">Check-ins</a></li>
                    <li><a href="{% url 'checkouts' %}">Checkouts</a></li>
                    <br>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        </div>
        {% endif %}

        <main>
            {% block body %} {% endblock %}  
        </main>

        <div class="spinnerCont" id="spinner">
            <div class="spinner"></div>
        </div>
    </div>

</body>

</html>