
<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load pwa %}
    <head>
    {% progressive_web_app_meta %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <script type="text/javascript" src="{% static 'hotelSystem/js/script.js' %}"></script>
    
    <title>{% block title %}{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap" rel="stylesheet">

    <style>
        :root {
            --myDark: #212121;
            --light: #fdfdfd;
            --lightgrey:#ececec;
            --thirdcolor:#0A66C2;
            --font-header:'Poppins';
            --font-text: 'Lato';
          }
    </style>
    {% block additional-static %}
    {% endblock %}

    {% block media-files %}
     {% endblock %}
     
    <link href="{% static 'hotelSystem/css/styles.css' %}" rel="stylesheet">
     
    <link rel="icon" href="{% static 'hotelSystem/img/CPIC.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>

<body>
    <div class="page">
        <header tabindex="1">
            <h2>
                CPIC Hotel
            </h2>
        </header>

        {% if user.is_authenticated %}
        <div id="nav-container">
            <div class="bg"></div>
            <div class="button" tabindex="0">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
            <div id="nav-content" tabindex="0">
                <ul>
                    <li><a href="{% url 'index' %}">Dashboard</a></li>
                    <li><a href="{% url 'customers' %}">Guests</a></li>
                    <li><a href="{% url 'rooms' %}">Rooms</a></li>
                    <li><a href="{% url 'payments' %}">Payments</a></li>
                    <br>
                    <li><a href="{% url 'reserve' %}">Reserve</a></li>
                    <br>
                    <li><a href="{% url 'reservations' %}">Reservations</a></li>
                    <li><a href="{% url 'checkins' %}">Check-ins</a></li>
                    <li><a href="{% url 'checkouts' %}">Check-outs</a></li>
                    <br>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        </div>
        {% endif %}

        <main>
            {% block body %} {% endblock %}
        </main>
    </div>

</body>

</html>