.form-structor{
    margin-left: 5%;
    font-family: var(--font-text);
}

.changebtn{
    background-color: transparent;
    color: var(--myDark);
    border: 1px solid var(--myDark);
    border-radius: 15px;
    display: block;
    margin: 15px 0px;
    padding: 15px;
    max-width: 100%;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
}

.changebtn:hover{
    transition: all .3s ease;
    transition: all .3s ease;
    color: white;
    background-color: var(--myDark);
}

.error
{
    color: rgb(212,56,50);
    font-size: 13px;
    font-weight: bold;
}